body {
	background: rgb(226, 226, 214);
	text-align: center;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 2rem;
	margin-bottom: 3rem;
}

nav a {
	padding: 0 1rem;
	text-decoration: none;
}

.ingredient-list {
	list-style: none;
}

.pizza-summary a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #4caf50;
	color: white;
	text-decoration: none;
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.home-img {
	height: 500px;
	width: 700px;
}
